<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jp.co.gnavi.meshclient">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <permission android:name="jp.co.gnavi.meshclient.permission.C2D_MESSAGE"
                android:protectionLevel="signature">

    </permission>

    <uses-permission android:name="jp.co.gnavi.meshclient.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

<!--
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
-->
    <application
        android:allowBackup="true"
        android:name="jp.co.gnavi.meshclient.Application.CustomApplication"
        android:icon="@drawable/ic_launcher"
        android:label="${appName}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="jp.co.gnavi.meshclient.activity.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="jp.co.gnavi.meshclient.activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="jp.co.gnavi.meshclient.activity.BaseActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="jp.co.gnavi.meshclient.activity.WaitActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="jp.co.gnavi.meshclient.activity.SelectAcitivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name="jp.co.gnavi.meshclient.activity.ResultActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>

        <receiver
            android:name="jp.co.gnavi.meshclient.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="jp.co.gnavi.meshclient" />
            </intent-filter>
        </receiver>
        <service android:name="jp.co.gnavi.meshclient.gcm.GcmIntentService" />
        <service
            android:name="jp.co.gnavi.meshclient.gcm.GcmRegistration"
            android:exported="false">
        </service>

    </application>

</manifest>
